@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-size: 62%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-family: 'Noto Sans JP', sans-serif;
  background: url(../images/fondonegro.png);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #928888;
}

img {
  width: 80%;
  height: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}

img:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

nav, .servicios, .presentacion, .footerContent {
  width: 80%;
  margin: auto;
}

.titulo-servicios, .presentacion {
  margin-bottom: 10%;
}

p {
  font-size: 2rem;
  color: #928888;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
  font-size: 2.5rem;
}

h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: lighter;
}

.btn, .btn-principal, .btn-secundario {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn-principal {
  color: #fff;
  background-color: #b40000;
}

.btn-principal:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-secundario {
  background-color: #928888;
}

.btn-secundario:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s;
  transition: .4s;
}

.logo {
  width: 100px;
  height: auto;
}

header {
  position: fixed;
  top: 0;
  border-top: 30px solid #343533;
  width: 100%;
}

.wrapper {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

nav ul a {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}

nav ul a:hover {
  color: #b40000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .4s;
  transition: .4s;
}

.presentacion {
  padding-top: 200px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.presentacion .flex-item2 {
  text-align: center;
}

.presentacion h1 {
  margin-top: 0;
  padding-right: 20px;
  font-size: 3rem;
}

.presentacion p {
  padding-right: 20px;
  padding-bottom: 10px;
}

.servicios div {
  text-align: center;
}

.servicios .tipo-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.servicios .tipo-servicios i {
  font-size: 30px;
  color: #b40000;
}

footer {
  min-height: 80px;
  background-color: #343533;
  margin-top: 0;
}

footer .footerContent {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1200px) {
  nav, .servicios, .footerContent, .presentacion {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .presentacion, .tipo-servicios {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  .presentacion div h1, .presentacion div p {
    padding: 0;
  }
}
